@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.fullscreen {
  height: 150vh;
  overflow: auto;
  background-color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  height: 10%;
  background-color: whitesmoke;
}

main {
  background-color: rgb(12, 12, 21);
  height: 50%;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1vh 0vw 3vh 0vw;
}

.sensor-data {
  display: grid;
  grid-template-columns: 50% 50%;
}

footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  height: 10%;
  font-size: x-large;
  margin-top: 3vh;
}

#map {
  height: 100%;
  width: 100%;
  background-color: white;
}

h2,
.footer {
  text-align: center;
}

#cansat_phase {
  color: white;
}

.start-btn {
  display: block;
  margin: 0 auto;
  width: 5vw;
  height: 5vh;
  font-size: large;
}

#choose {
  display: block;
  margin: 0 auto;
  width: 10vw;
  height: 5vh;
  font: large;
}

sub {
  height: 40%;
  padding: 1vh 0vw 1vh 0vw;
}

.visual-data {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 4px;
  justify-content: center;
  text-align: center;
  /* width: 10vw; */
  color: blue;
  padding: 3vh 1vw 1vh 1vw;
}

#temp-graph {
  background-color: #ffffff;
  width: auto;
  height: 40vh;
}

#press-graph {
  background-color: #ffffff;
  width: auto;
  height: 40vh;
}

#gyro-anime {
  background-color: #ffffff;
  width: auto;
  height: 40vh;
}

#rocket-anime {
  background-color: #ffffff;
  width: auto;
  height: 40vh;
}

@media screen and (max-width: 1200px) {
  .main {
    padding: 6px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .fullscreen {
    overflow-y: scroll;
    padding: 16px;
  }

  .header {
    font-size: 0.75rem;
    line-height: 1rem;
    height: auto;
  }
}

/* 
.xsbox {
  display: flex;
  flex-direction: column-reverse;
}

.smbox {
  display: flex;
  flex-direction: column-reverse;
}

.lgbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
} 
*/














/* tailwindcss */
.boxWidth {
    max-width: 1280px;
    width: 100%;
}
  
.heading2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 66.8px;
    color: #ffffff;
  }
  
.heading2.xs {
    font-size: 48px;
    line-height: 76.8px;
  }
  
.paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30.8px;
    color: #bfbfbf;
  }

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.paddingX {
    padding-left: 6px;
    padding-right: 6px;
  }
  
.paddingY {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
.padding {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
.marginX {
    margin-left: 6px;
    margin-right: 6px;
  }
  
.marginY {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
.norm {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
  
.overflowscreen {
    overflow-y: scroll;
}
  
.xsbox {
    display: flex;
    flex-direction: column-reverse;
}
  
.smbox {
    display: flex;
    flex-direction: column-reverse;
}
  
.lgbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}
  
.phasepadding {
    padding-top: 2px;
}
  
.blueborder {
    border-width: 2px;
    border-color: #1a202c;
}
  
.mapover {
    overflow: hidden;
}
  
.mapsize {
    width: auto;
    height: 100px; /* adjust accordingly */
}
  
.section {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
}
  
.sectionReverse {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 6px;
    padding-bottom: 6px;
}
  
.sectionImgReverse {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}
  
.sectionImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}
  
.sectionInfo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
/* -------------------------------------------- */ 
